@import url("https://use.typekit.net/tkc8lsx.css");
@import url("https://use.typekit.net/tkc8lsx.css");
@import url("https://use.typekit.net/tkc8lsx.css");
@import url("https://use.typekit.net/tkc8lsx.css");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url("https://use.typekit.net/tkc8lsx.css");

html{
    scroll-behavior: smooth;
}


.navbar{
    padding: .8rem;
    color: #f7f7f7 !important;
}

.navbar-nav li{
    padding-right: 20px;
}

.nav-link{
    font-size: 1.1em !important;
}

/*css voor de video header */
.hero  {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-passend{
    width: 75%;
    height: auto;
}
.content{
    text-align: center;
}

.content h1{
    font-family: gambado-sans-forte, sans-serif;
    font-style: normal;
    font-size: 160px;
    color: #fff;
    font-weight: 700;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*einde css voor de video header */


.inhoud{
    width: 100%;
    height: auto;
    padding-top: 120px;
}

.inhoud .div-img-bg .inhoud-portfolio-img img{
    width: 100%;
    height: 400px;
    margin-top: -60px;
    object-fit: cover;
}

.inhoud .div-img-bg{
    border:40px solid #f4ebe9;
}

.p-heading{
    font-family: snicker, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #df392e;
    font-size: 35px;
}

.inhoud .inhoud-portfolio-descr{
    margin-top: 60px;
}

#about-me{
    width: 100%;
    height: auto;
    padding-top: 130px;
    padding-bottom: 70px;
}

#about-me .div-img-bg .inhoud-portfolio-img img{
    width: 100%;
    height: 400px;
    margin-top: -60px;
    object-fit: cover;
}

#about-me .div-img-bg{
    border:40px solid #f4ebe9;
}

#about-me .inhoud-portfolio-descr{
    margin-top: 100px;
    text-align: right;
}

#about-me2{
    display: none;
}

.btn{
    background-color: #df392e;
    border-color: white;
    color: white;
    border-radius: 20px;
    font-family: noka, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    margin-top: 10px;
}
.btn:hover{
    background-color: #f4ebe9;
    border-color: #df392e;
    color: #df392e;
}

.contact-text{
    font-family: noka, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    color: #444444;
    padding-top: 20px;
}


.fa-linkedin{
    color: #0A66C2;
}





.fa-linkedin, .fa-square-letterboxd, .fa-github{
    font-size: 4em;
    margin: 1rem;
}

.contact-logo{
    font-family: noka, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}

.text-center{
    background-color: #f7f7f7;
    text-align: center;
    padding-bottom: 25px;
}

#footer{
    background-color: #e0e0e0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.jaar{
    font-size: 13px;
}

.gif-bg{
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 25px;
}

.fun{
    width: 100%;
    margin-bottom: 2rem;
    background-color: #f4ebe9;
    border-color: #f4ebe9;
    font-family: snicker, sans-serif;
}

/* over mij pagine */

.about-me-text{
    font-family: gambado-sans-forte, sans-serif;
    font-style: normal;
    padding-top: 25px;
    font-size: 50px;
    color: #df392e;
}

.text-center over-mij{
    background-color: #fff !important;
}

.about-me-img{
    margin-top: 94px;
}

.inhoud2{
    width: 100%;
    height: auto;
    padding-top: 0px;
}

.inhoud2 .div-img-bg .inhoud-portfolio-img img{
    width: 100%;
    height: 400px;
    margin-top: -60px;
    object-fit: cover;
}

.inhoud2 .div-img-bg{
    border:40px solid #f4ebe9;
}

.inhoud2 .inhoud-portfolio-descr{
    margin-top: 60px;
}



@media (max-width: 992px) {

    /* inhoud portfolio deel 1 */
    .inhoud{
        padding-top: 70px;
    }

    .inhoud .inhoud-portfolio-descr{
        margin-top: 5px;
    }

    .p-heading{
        margin-bottom: 0px;
    }

    .btn{
        margin-top: 0px;
    }
    /* einde inhoud portfolio deel 1 */

    /* inhoud about-me deel 1 */
    #about-me{
        display: none;
    }

    #about-me2{
        display: block;
    }

    #about-me2{
        width: 100%;
        height: auto;
        padding-top: 130px;
        padding-bottom: 70px;
    }
    
    #about-me2 .div-img-bg .inhoud-portfolio-img img{
        width: 100%;
        height: 400px;
        margin-top: -60px;
        object-fit: cover;
    }
    
    #about-me2 .div-img-bg{
        border:40px solid #f4ebe9;
    }
    
    #about-me2 .inhoud-portfolio-descr{
        margin-top: 5px;
    }

    .content h1{
        font-size: 80px;
    }

    /* over mij */
    .inhoud2{
        padding-top: 70px;
    }

    .inhoud2 .inhoud-portfolio-descr{
        margin-top: 5px;
    }

    .about-me-img{
        margin-top: 0px;
    }

}


.portfolio-inside{
    padding-top: 45px;
}

.inside-titel{
    font-family: snicker, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
     color: #444444;
}

.collectie{
    width: 100%;
    height: auto;
    padding-top: 65px;
}

.collectie .div-img-bg .collectie-portfolio-img img{
    width: 100%;
    height: 400px;
    margin-top: -60px;
    object-fit: cover;
}

.collectie-tekst{
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.btn2{
    background-color: #df392e;
    border-color: white;
    color: white;
    border-radius: 20px;
    font-family: noka, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
}
.btn2:hover:hover{
    background-color: #f4ebe9;
    border-color: #df392e;
    color: #df392e;
}

.ruimte{
    padding-top: 100px;
}

.ruimte2{
    padding-bottom: 30px;;
}

.extra-inside{
    padding-top: 50px;
}

@media (max-width: 992px) {
.collectie-portfolio-img{
    padding-bottom: 100px;
}
 .ruimte{
    padding-top: 0px;
 }

 .ruimte2{
    padding-bottom: 0px;
 }

 .extra-inside{
    padding-top: 0px;
    margin-top: -60px;
}
}


@media (max-width: 767px) {
    .collectie-portfolio-img{
        padding-bottom: 100px;
    }

 }

 .portfolio-sub-tekst{
    font-size: 10px;
    padding-left: 15px;
    padding-top: 5px;
 }

 .portfolio-border{
    border-style: solid;
    color: #f4ebe9;
    border-width: 5px;
 }

.ruimte3{
    padding-top: 20px;
 }

 .ruimte4{
    padding-top: 5px;
 }

 .ruimte5{
    padding-bottom: 20px;
 }

 .showcase-inside{
    padding-top: 45px;
}

 @media (max-width: 992px) {
.portfolio-sub-tekst{
    margin-top: -100px;
}

.showcase-inside{
    padding-top: 0px;
    margin-top: -20px;
}

.ruimte4{
    margin-top: -60px;
}

.showcase-bottom{
    margin-top: -80px;


}
 }

 .showcase-subtitel{
    padding-left: 120px;
    padding-right: 120px;
 }


@media (max-width: 992px) {
    .showcase-subtitel{
        padding-left: 60px;
        padding-right: 60px;
     }



.collectie-portfolio-img .showcase-img-lang{
    height: 495px !important;
}

@media (max-width: 992px) {
    .collectie-portfolio-img .showcase-img-lang{
        height: 310px !important;
    }
}

@media (max-width: 767px) {
    .collectie-portfolio-img .showcase-img-lang{
        height: 230px !important;
    }
}

.showcase-img-hoog{
    height: 1000px !important;
}
}

.gif{
    max-width: 70%;
}

.connect-link{
    text-decoration: none;
    color: #444444;
}
